
beautifulsoup4==4.10.0

bs4==0.0.1



Flask 

gunicorn==20.1.0
Jinja2 
joblib==1.1.0


matplotlib==3.5.1

networkx==2.6.3
nltk==3.6.7
numexpr 
numpy 
 
pandas 
Pillow==9.0.0
plotly==5.5.0


regex==2022.1.18
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
selenium==4.1.0

sklearn==0.0

tqdm==4.62.3

urllib3==1.26.8
uvicorn==0.17.0
Werkzeug 

wordcloud==1.8.1

flask_cors==3.0.10

